body{
    font-family: Arial;
    margin: 20px;
    background-color: #f8f9fa;
}

h1, h2{
    color: #333;
}

a {
    text-decoration: none;
    margin: 5px;
    color: blue;
}

a:hover{
    color: black;
    text-decoration: underline;
}

img{
    width: 200px;
}

table{
    width: 60%;
    margin-top: 10px;
    border-collapse: collapse;
}

th, td{
    border: 1px solid #ccc;
    padding: 8px;
}

th{
    background-color: #ccc;
}

form{
    background-color: white;
    padding: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 400px;
}

label{
    font-weight: 400px;
    display: block;
    margin: 10px 0px 5px 0px;
}

input{
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 12px;
}

button{
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover, button:focus{
    background-color: #222;
}